.header {
  top: 0;
  position: sticky;
  z-index: 100;
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
}

.btnIcon {
  width: 22px;
  height: 22px;
}

.loginButton {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-gray200);
}

.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(15, 15, 15, 0.6);

  z-index: 1000;

  display: flex;
}

.sidebar {
  width: 75%;
  max-width: 320px;
  height: 100vh;

  background: var(--gray-gray500);

  animation: slideIn 0.25s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
