.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile,
.guestBox {
  margin-top: 40px;
  padding: 32px 20px;
  border-bottom: 1px solid #3a3a3a;
}

.greeting,
.title {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.pointBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointLabel {
  color: var(--gray-gray300);
  font-size: 14px;
  font-weight: 300;
}

.pointValue {
  color: var(--main-main);
  font-size: 12px;
  font-weight: 400;
}

.menuList {
  list-style: none;

  margin: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menuItem a,
.menuList a {
  font-size: 14px;
  font-weight: 700;
}

.logoutButton {
  margin-top: auto;

  padding: 50px 20px;

  color: var(--gray-gray400);
  font-size: 14px;
  text-align: left;

  cursor: pointer;
}

.guideText {
  font-weight: 300;
  color: var(--gray-gray300);
  font-size: 14px;
}
