.wrapper {
  position: relative;
  width: 520px;
}

.input {
  width: 520px;
  height: 60px;
  border: 1px solid var(--gray-gray200);
  border-radius: 2px;
  padding: 18px 20px;
  box-sizing: border-box;
  background-color: var(--black-black);
  font-size: 16px;
  color: var(--white-white);
}

.input::placeholder {
  color: var(--gray-gray300);
}

.input:focus {
  border-color: var(--white-white);
  outline: none;
}

.error {
  border-color: var(--red-red);
}

.error:focus {
  border-color: var(--red-red);
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--black-black) inset;
  -webkit-text-fill-color: var(--white-white);
}

.toggleButton {
  all: unset;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggleButton:focus-visible {
  outline: 2px solid var(--white-white);
  outline-offset: 2px;
}

.icon {
  color: var(--white-white);
  width: 24px;
  height: 24px;
}

@media (max-width: 1023px) {
  .wrapper {
    width: 440px;
  }

  .input {
    width: 440px;
    height: 55px;
    font-size: 14px;
    padding: 16px 20px;
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 743px) {
  .wrapper {
    width: 345px;
  }

  .input {
    width: 345px;
  }
}
